.tresh {
  background-image: url(./fontrez.jpg);
  background-size: cover;
}

.tresh {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  flex-shrink: 1;
  flex-wrap: wrap;
}