.nasta {
  font-size: 48px;
  color: green;
  background-image: url("./MusFon3.avif");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* @media (max-width: 770px) {
  body {
    background-image: url("./fon1.jpg");
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
  }
}

@media (max-width: 425px) {
  body {
    background-image: url("./fon2.jpg");
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
  }
} */