.metal {
  background-image: url(./metall-fon_1.jpg);
  background-size: cover;
}

.metal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-shrink: 1;
  flex-wrap: wrap;
}