/* Container {
  background-color: grey;

} */

.head {
  font-family: dua;
  text-shadow: black 2px 2px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

a.nav-link {
  display: block;
  width: fit-content;
  padding: 5px;
  text-shadow: black 2px 2px;
  font-family: dua;
}

.ico {

  vertical-align: baseline;
  width: 20px;
  height: 20px;
  fill: azure;
  text-shadow: black 2px 2px;
}

a {
  text-decoration: none;
  color: blue;
  font-size: 14px;
}